[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "thirdparty/magnum-integration"]
	path = thirdparty/magnum-integration
	url = https://github.com/mosra/magnum-integration
